# Вебинар 5. Ранжирование и Гибридные рекоммендательные системы

# 1. Ранжирование

### 1.1 BPR - Bayesian Personalized Ranking loss

$$loss = \sigma(p^{+} - p^{-})$$

1. Случайная пара user - купленный им item_i = позитивная пара
2. Для того же юзера сэмплируем item_j (не купил или вес в user-item матрице ниже, у item_i из 1.) - негативная пара
3. Прогнозы модели $p^{+}$, $p^{-}$ --> $p^{+} - p^{-}$
4. loss = $\sigma(p^{+} - p^{-})$ - это и есть наша ошибка
5. Обновляем эмбеддинги

### 1.2 WARP = Weighted Approximate-Rank Pairwise loss
Неплохое [объяснение](https://medium.com/@gabrieltseng/intro-to-warp-loss-automatic-differentiation-and-pytorch-b6aa5083187a) на игрушечном примере

$$loss = ln(\frac{K-1}{N})*(p^- - p^+)$$

1. Сэмплируем случайную позитивную пару юзер-item, прогноз модели для этой пары $p^+$
2. Сюмплируем далее до тех пор, пока не найдем негативную пару, где прогнозная вероятность $p^-$ > $p^+$
3. K - общее количество рекомендаций
4. N - кол-во сэмплирований (зависит от качества модели!)

**Note**  
loss зависит только от 2-ух сэмплированных пар, эмбеддинги только для этих пар будут обновлены

In [1]:
# Case 1
p_plus = 4.3  # true = 1
p_neg_1 = -2.3 
p_neg_2 = 4.5

loss(random_seed) = [(3-1) / 10 * (4.5 - 4.3)]

# Case 2 -  модель лучше в этом случае
p_plus = 4.3  # true = 1
p_neg_1 = -2.3 
p_neg_2 = 0.5
p_neg_3 = -0.5
p_neg_4 = 2.1
p_neg_5 = 4.5

loss(random_seed) = [(6-1) / 10 * (4.5 - 4.3)]

SyntaxError: ignored

### Зачем нужно ранжирование? Есть же классификация (предсказание 0 и 1)
- Ранжирование гораздо лучше выбирает топ-k товаров, особенно когда k велико
- Ранжирование позволяет напрямую ранжировать 5 релевантных юзеру товаров (какой из 5 поставить выше?)

---

# 2. LightFM

![mf.png](attachment:mf.png)

Формула эмбеддинга в ALS (матричной факторизации)

$$user_{emb} = \theta_1 * i_1 + ... + \theta_n * i_n$$  
  
$$p = user_{emb} * item_{emb}^T + b_u + b_i$$

Формула в LightFM

$$user_{emb} = \theta_1 * i_1 + ... + \theta_n * i_n + \alpha_1 * f_1 + ... + \alpha_k * f_k$$  
  
$$p = user_{emb} * item_{emb}^T + b_u + b_i$$

### Зачем нужны гибридные системы?

*Холодный старт* - ситуация, в которой с товаром/юзером в матрице мало взаимодействий

Холодный старт для товаров - обычно введение нового товара (YouTube, Lamoda, hh.ru)  
Холодный старт для юзера - к нам пришел новый юзер  

Холодного юзера/товар можно описать фичами --> мы больше о нем знаем --> он уже не такой холодный

In [4]:
!pip install lightfm
!pip install implicit

Requirement already satisfied: lightfm in /usr/local/lib/python3.7/dist-packages (1.16)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (0.22.2.post1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.1.0)
Collecting implicit
  Downloading implicit-0.4.8.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 6.6 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from implicit) (1.4.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit) (4.62.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from implicit) (1.19.5)
Building wheels for collected packages: implicit
  Building wheel for implicit (PEP 517) ... done
  Created wheel for implicit: filename=implicit-0.4.8-cp37-cp37m-linux_x86_64.whl size=4606607 sha256=f82e2afa71f6e2e2290d593d1ba0aff65eac391bfb6bf401b96c6ca00d43dbba
  Stored in directory: /root/.cache/pip/wheels/88/e6/34/25e73cccbaf1a961154bb562a5f86123b68fdbf40e306073d6
Successfully built implicit
Installing collected packages: implicit
Successfully installed implicit-0.4.8

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM

# Функции из 1-ого вебинара
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [6]:
from lightfm.evaluation import precision_at_k, recall_at_k

from metrics import precision_at_k as custom_precision, recall_at_k
from utils import prefilter_items

In [7]:
data = pd.read_csv('retail_train.csv')

item_features = pd.read_csv('product.csv')
user_features = pd.read_csv('hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     2375  26984851472    1  ...        1          0.0                0.0
1     2375  26984851472    1  ...        1          0.0                0.0

[2 rows x 12 columns]

In [8]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [9]:
item_features.head(2)

   item_id  manufacturer  ...           sub_commodity_desc curr_size_of_product
0    25671             2  ...          ICE - CRUSHED/CUBED                22 LB
1    26081             2  ...  NO SUBCOMMODITY DESCRIPTION

[2 rows x 7 columns]

In [10]:
user_features.head(2)

  age_desc marital_status_code  ... kid_category_desc user_id
0      65+                   A  ...      None/Unknown       1
1    45-54                   A  ...      None/Unknown       7

[2 rows x 8 columns]

In [11]:
user_features['age_desc'].unique()

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [12]:
user_features['marital_status_code'].unique()

array(['A', 'U', 'B'], dtype=object)

In [13]:
user_features['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

## 1. Filter items

In [14]:
data_train.head()

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     2375  26984851472    1  ...        1          0.0                0.0
1     2375  26984851472    1  ...        1          0.0                0.0
2     2375  26984851472    1  ...        1          0.0                0.0
3     2375  26984851472    1  ...        1          0.0                0.0
4     2375  26984851472    1  ...        1          0.0                0.0

[5 rows x 12 columns]

In [15]:
n_items_before = data_train['item_id'].nunique()

data_train_filtered = prefilter_items(data_train, take_n_popular=5000, item_features=item_features)

n_items_after = data_train_filtered['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

/content/utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['sales_value'] / (np.maximum(data['quantity'], 1))

Decreased # items from 86865 to 5001

# 2. Prepare data set

## 2.1 Prepare csr train matrix

In [16]:

user_item_matrix = pd.pivot_table(data_train_filtered, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id  117847    818981    819255    ...  16100266  16729299  16729415
user_id                                ...
1             0.0       0.0       0.0  ...       0.0       0.0       0.0
2             0.0       0.0       0.0  ...       0.0       0.0       0.0

[2 rows x 5001 columns]

## 2.2 Prepare CSR test matrix

In [17]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]

test_user_item_matrix = pd.pivot_table(data_test, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = test_user_item_matrix.astype(float) # необходимый тип матрицы для implicit

In [18]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

## 3. Prepare user and item features

In [19]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)
user_feat.head(2)

        age_desc marital_status_code  ... household_size_desc kid_category_desc
user_id                               ...
1            65+                   A  ...                   2      None/Unknown
2            NaN                 NaN  ...                 NaN               NaN

[2 rows x 7 columns]

In [20]:
user_feat.shape

(2497, 7)

In [21]:
item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)

item_feat.head(2)

         manufacturer department  ... sub_commodity_desc curr_size_of_product
item_id                           ...
117847          450.0  NUTRITION  ...      SOY/RICE MILK                64 OZ
818981          194.0    GROCERY  ...  ALL FAMILY CEREAL              10.4 OZ

[2 rows x 6 columns]

In [22]:
item_feat.shape

(5001, 6)

## Encoding features

In [23]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

In [24]:
user_feat_lightfm.head(2)

         age_desc_19-24  ...  kid_category_desc_None/Unknown
user_id                  ...
1                     0  ...                               1
2                     0  ...                               0

[2 rows x 41 columns]

## Init model

In [ ]:
model = LightFM(no_components=40,
                loss='bpr', # "logistic","bpr"
                learning_rate=0.01, 
                item_alpha=0.4,
                user_alpha=0.1, 
                random_state=42,
                k=5,
                n=15,
                max_sampled=100)

## Train

In [ ]:
model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=20, 
          num_threads=20,
          verbose=True)

Epoch: 100%|██████████| 20/20 [00:36<00:00,  1.81s/it]

# Getting embeddings

## вектора по пользователям

In [ ]:
user_emb = model.get_user_representations(features=csr_matrix(user_feat_lightfm.values).tocsr())

In [ ]:
user_emb[0].shape # biases

(2497,)

In [ ]:
user_emb[1].shape # users vectors

(2497, 40)

## вектора по товарам

In [ ]:
item_emb = model.get_item_representations(features=csr_matrix(item_feat_lightfm.values).tocsr())

In [ ]:
item_emb[0].shape # biases

(5001,)

In [ ]:
item_emb[1].shape # items vectors

(5001, 40)

# Evaluation -> Train precision

In [ ]:
# мы можем использовать встроенные метрики lightFM
train_precision = precision_at_k(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

print(f"Train precision {train_precision}")

Train precision 0.4385262429714203

# Predict

In [ ]:
# подготавливаемм id для юзеров и товаров в порядке пар user-item
users_ids_row = data_train_filtered['user_id'].apply(lambda x: userid_to_id[x]).values.astype(int)
items_ids_row = data_train_filtered['item_id'].apply(lambda x: itemid_to_id[x]).values.astype(int)

In [ ]:
users_ids_row[:10]

array([2371, 1363, 1363, 1363, 1363, 1171, 1171, 1171, 1171, 1171])

In [ ]:
# модель возвращает меру/скор похожести между соответствующим пользователем и товаром
predictions = model.predict(user_ids=users_ids_row,
                            item_ids=items_ids_row,
                            user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                            item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                            num_threads=10)

In [ ]:
# добавляем наш полученный скор в трейн датафрейм
data_train_filtered['score'] = predictions

In [ ]:
data_train_filtered.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,price,score
7,2375,26984851516,1,1085983,1,2.99,364,-0.40,1642,1,0.0,0.0,2.99,-0.023003
11,1364,26984896261,1,999999,1,2.19,31742,0.00,1520,1,0.0,0.0,2.19,-0.983616
12,1364,26984896261,1,999999,1,2.99,31742,-0.40,1520,1,0.0,0.0,2.99,-0.983616
13,1364,26984896261,1,999999,1,3.09,31742,0.00,1520,1,0.0,0.0,3.09,-0.983616
14,1364,26984896261,1,937406,1,2.50,31742,-0.99,1520,1,0.0,0.0,2.50,-1.003003

In [ ]:
# создаем предикт датафрейм в формате списка това
predict_result = data_train_filtered[['user_id','item_id','score']][data_train_filtered.item_id != 999999].drop_duplicates().sort_values(by=['user_id','score'], ascending=False).groupby('user_id')['item_id']. \
            unique().reset_index()

In [ ]:
predict_result.head()

   user_id                                            item_id
0        1  [1029743, 6034857, 952163, 1004906, 1088462, 8...
1        2  [1106523, 1075368, 6919458, 952163, 899624, 83...
2        3  [1106523, 983584, 5585510, 899624, 946839, 839...
3        4  [1029743, 1075368, 1052294, 7431408, 970760, 1...
4        5  [1126899, 1029743, 6034991, 825659, 1112387, 1...

In [ ]:
# объединяем предикт и тест датасет для подсчета precision
df_result_for_metrics = result.merge(predict_result, on='user_id', how='inner')

In [ ]:
df_result_for_metrics.head()

,user_id,actual,item_id
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1029743, 6034857, 952163, 1004906, 1088462, 8..."
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1106523, 983584, 5585510, 899624, 946839, 839..."
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[1070820, 1029743, 1126899, 1121393, 9524291, ..."
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[1029743, 1126899, 1106523, 1072494, 9835880, ..."
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[1106523, 1070820, 1029743, 5585510, 1139835, ..."

### Test with custom precision func

In [ ]:
precision = df_result_for_metrics.apply(lambda row: custom_precision(row['item_id'], row['actual'],k=5), axis=1).mean()
print(f"Precision: {precision}")

Precision: 0.13963875205254345

In [ ]:
precision = df_result_for_metrics.apply(lambda row: custom_precision(row['item_id'], row['actual'],k=5), axis=1).mean()
print(f"Precision: {precision}")

Precision: 0.14357963875205076

# Links

Neural networks for RS: http://d2l.ai/chapter_recommender-systems/mf.html

LigthFM -> https://arxiv.org/pdf/1507.08439.pdf

https://making.lyst.com/lightfm/docs/home.html

# Домашнее задание

#### 1) Прочитать статьи про BPR, WARP loss

#### 2) Сделать грид серч текущей модели, смотрите на метрику precision@5, считаем на тесте нашей функцией

In [25]:
learning_rate = [0.001, 0.01, 0.05]
item_alpha = [0.2, 0.4, 0.6]
user_alpha = [0.05, 0.1, 0.15]

app = 100

In [27]:
for i in learning_rate:
  for j in item_alpha:
    for k in user_alpha:
      model = LightFM(no_components=40,
                loss='bpr', # "logistic","bpr"
                learning_rate=float(i), 
                item_alpha=float(j),
                user_alpha=float(k), 
                random_state=42,
                k=5,
                n=15,
                max_sampled=100)
      
      model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=20, 
          num_threads=20,
          verbose=True) 
      
      train_precision = precision_at_k(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()
      test = app

      
      
  if train_precision < test:
    app = train_precision
    app_2 = {'learning_rate': i, 'item_alpha': j, 'user_alpha': k, 'precission': app}
print(app_2)

Epoch: 100%|██████████| 20/20 [00:39<00:00,  1.98s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.95s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.92s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.92s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.92s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.94s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:58<00:00,  2.92s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:38<00:00,  1.93s/it]
Epoch: 100%|██████████| 20/20 [00:45<00:00,  2.28s/it]
Epoch: 100%|██████████| 20/20 [00:40<00:00,  2.02s/it]

{'learning_rate': 0.01, 'item_alpha': 0.6, 'user_alpha': 0.15, 'precission': 0.2004005}